<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Registration</title>
</head>
<body class="first">
    <form class="first" action="/registration" method="post">
        <h2>Регистрация</h2>
        <p><input name="fullname" placeholder="ФИО" required></p>
        <p><input name="login" placeholder="Логин" required></p>
        <p><input name="password" placeholder="Пароль" required></p>
        <p><input name="phone" placeholder="Номер телефона" required></p>
        <p><button class="first" type="submit">Зарегистрироваться</button></p>
    </form>
</body>
</html>