<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Регистрация и Вход</title>
</head>
<body class="first">
    <form class="first" action="/first" method="post">
        <p><h2>Служба технической поддержки</h2></p>
        <p><button class="first" type="submit" name="button" value="auth">Зарегистрироваться</button></p>
        <p><button class="first" type="submit" name="button" value="login">Войти</button></p>
    </form>
</body>
</html>